<h1>AJAX</h1>
<p>Find me in app/views/ajax/home.html.erb</p>
<%= link_to 'Session', '/ajax/session' %>
<div id="rest-ops">
<br>
<button id="list-members" type="button">List members</button><br><br>
<label>member first name</label><input id="member-firstName"><label>member last name</label>
<input id="member-lastName"><button id="create-member" type="button">Create member</button><br><br>
<label>member ID</label><input id="member-id" type="number"><label>member first name</label>
<input id="member-firstName1"><label>member last name</label>
<input id="member-lastName1"><button id="update-member" type="button">Update member</button><br><br>

<!-- Added Delete button -->
<label>Member ID</label><input id="member-id-delete" type="number"><button id="delete-member" type="button">Delete member</button><br><br>

<!-- Added List Facts Button -->
<label>Member ID</label><input id="member-id-facts" type="number"><button id="list-facts" type="button">List facts</button><br><br>

<!-- Added option to add Facts -->
<label>member ID</label><input id="member-id-add-fact" type="number">
<label>Fact</label><input id="fact-text">
<label>Likes</label><input id="fact-likes" maxlength="3"><button id="create-fact" type="button">Create Fact</button><br><br>

<!-- Added Button to Update Fact -->
<label>Member ID</label><input id="member-id-update-fact" type="number">
<label>Fact ID</label><input id="fact-id" type="number">
<label>Fact</label><input id="fact-text1">
<label>Likes</label><input id="fact-likes1"><button id="update-facts" type="button">Update Fact</button><br><br>

<!-- Added Button to Delete Fact -->
<label>Member ID</label><input id="member-id-fact-delete" type="number">
<label>Fact ID</label><input id="fact-id-delete" type="number">
<button id="delete-fact" type="button">Delete fact</button><br><br>

</div>
<div id="results-div"></div>
<%= javascript_pack_tag 'ajax_ops' %>
